# Restes à la racine (à supprimer si présents)
/var/
/vendor/

# Backend (Symfony)
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local
/backend/config/secrets/prod/prod.decrypt.private.php
/backend/public/bundles/
/backend/var/
/backend/vendor/
/backend/phpunit.xml
/backend/.phpunit.cache/
/backend/public/assets/
/backend/assets/vendor/
/backend/config/jwt/*.pem

# Frontend (React / Node)
/frontend/node_modules/
/frontend/dist/
